body{
   background: #F8F8F8;
    min-height:100vh;
    overflow-x:hidden;
    
}
.compo{
    background:#fff;
box-shadow: rgba(50, 50, 93, 0.25) 15px 13px 27px -5px, rgba(0, 0, 0, 0.3) 15px 8px 16px -8px;
margin-left:auto;
margin-right:auto;

}
.test-border{
    border:2px solid red;
}
.congratulations-card{
    background: linear-gradient(
118deg,#7367F0,rgba(115,103,240,.7));
height:250px;
width:100%;
border-radius:10px;
box-shadow: rgba(50, 50, 93, 0.25) 16px 13px 27px -5px, rgba(0, 0, 0, 0.3) 16px 8px 16px -8px;
}
.general-card{
 
box-shadow: rgba(50, 50, 93, 0.25) 16px 13px 27px -5px, rgba(0, 0, 0, 0.3) 16px 8px 16px -8px;
height:250px;
width:100%;
border-radius:10px;   
}
.ico:hover{
    color:orange;
    cursor:pointer;
}
.vertical-nav{
    min-width:17rem;
    width:17rem;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    box-shadow:3px 3px 10px rgba(0,0,0,0.1);
    transition:all 0.4s;
}
.page-content{ 
    padding:10px;
    width:calc(100% - 17rem);
    margin-left:17rem;
    transition:all 0.4s;
}
.primary-bg{
     background: linear-gradient(to right, rgb(0, 198, 255), rgb(0, 114, 255));
     color:white;
}
.topnav{
    padding:10px;
    width:calc(100% - 17rem);
    margin-left:17rem;
    transition:all 0.4s;
}

.w-20{
    width:20%;
}
.w-80{
    width:80%;
}

#sidebar.active{
   margin-left:-17rem;
   transition:all 0.4s;
}
#content.active{
   width:100%;
   margin:0;
}
#navbar.active{
   width:100%;
   margin:0;
   margin-left:0;
}
.separator{
    border-bottom:2px solid white;
    width:100%;
    margin-top:30px;
}
#curve-chart1{
    position:relative;
    bottom:0;
  max-width:400;
  min-width:200;
    
}
#curve-chart2{
    position:relative;
    bottom:0;
  max-width:400;
  min-width:200;
    
}


